{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Regulation Imposed
{% endblock %}


{% block content %}
<p>
    As of now, you might realize that if everybody catches {{quota}} fish, your group's aggregate earnings would be maximized, so is the average group earnings.
    By catching over {{quota}} fish, the fish will be caught too fast (the fish population in the lake will not be sustainable). This may result in fewer fish
    for everyone.
    Therefore, at  the  beginning  of  this   round,  a regulation of maximum {{quota}} fish may be imposed on you. Due to limited enforcement budget,
    <b>each round only  one  member of each group will be imposed a regulation  and there is a {{Constants.prob_detect}} percent chance that this member will be audited
    and pay a fine of {{Constants.fine}} points for each unit of extra catch over the {{quota}} fish. </b>

</p>

{% next_button %}

{% endblock %}