{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionaire
{% endblock %}


{% block content %}
Now the game is over. Please complete the following survey questions:
<br>

Question 1
{% formfield player.age %}

Question 2
{% formfield player.gender %}

Question 3
{% formfield player.major %}

Question 4
{% formfield player.income %}

Question 5
{% formfield player.party %}

Question 6
{% formfield player.strategy %}

Question 7
{% formfield player.strategy_repeal %}


Click "next" to submit.
{% next_button %}

{% endblock %}