{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Round 1
{% endblock %}

{% block content %}

<div class="card bg-light m-3">
    <div class="card-body">
<p>
In this round, each team decides how many tokens to contribute to
        the public POOL. Contribution could be any integer from 0
        to {{ Constants.endowment }}. Please enter the number of tokens you would like your team to contribute to the public POOL.
        Before proposing the contribution, you can chat with your team members through the chatbox below.
</p>

   </div>
</div>

{{ player.role }}

{% chat nickname=player.chat_nickname channel=player.role %}

{% formfield player.contribution %}


{% next_button %}

<div class="card bg-light m-3">
    <div class="card-body">
        <b>Reminder of the Rule </b> <br>
        <br>
<p> At the beginning of this decision-making experiment you will be matched with two other players,
            randomly selected from the people in this room, to form a team of three. You will remain in this
            team of three players for the duration of the entire decision-making experiment. The identity of
            the other players of your team will not be revealed. Your team will play a game with three other teams in the experiment.

            Each team will receive {{ Constants.endowment }}  tokens at the beginning of this experiment. The experiment has two
            independent rounds. In the first round, each team decides how much of the {{ Constants.endowment }}  tokens to keep, and
            how much to contribute to a public POOL that is shared by all the four teams: Your team can contribute
            any number between 0 and {{ Constants.endowment }}  and only whole numbers will be accepted. In the second round, your team will be asked
            to indicate conditional contribution levels for each of the 21 possible average contribution levels
            {0, 1, 2, …, 20} of the other three teams.
            </p>

        <b>Payoffs:</b> <br>

        <p><b>Your earning will equal your team’s earning; everyone in your team will have the same earning.</b>
            Your team's earning from the game is the amount your team did not contribute to the POOL plus the return from the POOL.
        Each team’s return from the POOL is calculated as follows: The total contribution from all four teams to the POOL is multiplied by a factor of 2,
        which is the total earning for the four teams. The total earning is then split equally among all 4 teams, regardless
        of their contribution to the POOL.
        </p>
        <p>
            In the end, the computer program will randomly select <b>three</b> teams. The total contribution
            to the POOL is the sum of these three teams' first round contribution plus the fourth team's second round
            contribution from the binding condition. The binding condition is determined by the other three teams’ actual
            average contribution in the first round.
        </p>
        <p>
         For the selected three teams, the first round’s outcome determines their final payoffs. Each team’s final
            payoff is the return from the POOL plus the amount this team didn't contribute in the first round. For the
            selected fourth team, the second round’s outcome determines the final payoff. This team’s final payoff is the earnings
            from the POOL plus the amount it didn't contribute in the second round.
        </p>
  </div>
</div>

{% endblock %}
