{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Conclusion
{% endblock %}

{% block content %}
    <script>
        // Clears the local storage from the Comp Check Question Page timer.
        localStorage.removeItem('saved_countdown');
    </script>
    
    <p>
        Thank you for your participation! Your total points accumulated over the rounds are {{player.payoff}}. Your total payoff is {{player.paid}}.
    </p>
    <p>
        You may now leave! Please report your participation code to the experimenter and receive the money
    </p>
    <p>
        Your participation code is: {{ participant.vars.completion_code }}
    </p>
{% endblock %}