{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Practice Round
{% endblock %}

{% block content %}
<p>
    Your group of
    {{ Constants.players_per_group }} players share a fishery resource. Please enter the number of fish you would like to catch in this round, the number has to be an integer and between 0 and 40 (including 0 and 40)
</p>

{% load static %} <img src="{% static "fish.png" %}" alt="Hi!" width="500" height="500"/>


{% formfields %}

{% next_button %}


{% endblock %}
