{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Regulation Imposed
{% endblock %}


{% block content %}
<p>
As of now, you might realize that if everybody catches 20 fish, your group aggregate earnings would be maximized, so is the average group earnings.
    Therefore, at  the  beginning  of  this round {{round_nm}},  a regulation is introduced where the maximum allowable catch is 20 fish.
     By catching over 20 fish, the fish will be caught too fast.
    To enforce this regulation, there is a 5% chance that a player will be randomly
    audited and pay a fine of 2 points for each unit of extraction over the 20 fish.
</p>

{% next_button %}

{% endblock %}