{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Regulation Imposed
{% endblock %}


{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
<p>
    As of now, you might realize that if everybody catches {{quota}} fish, your group's aggregate (and average) earnings would be maximized.
    Therefore, at  the  beginning  of  this round,  a regulation is introduced where the maximum allowable catch is {{quota}} fish.
    By catching over {{quota}} fish, the fish will be caught too fast (the fish population in the lake will not be sustainable). This may result in fewer fish
    for everyone.
    <b>To enforce this regulation, there is a {{Constants.prob_detect}} percent chance that a player will be randomly
    audited and have to pay a fine of {{Constants.fine}} points for each unit of catch over the {{quota}} fish</b>.
</p>
    </div>
</div>

{% next_button %}

{% endblock %}