{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Regulation Imposed
{% endblock %}


{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
<p>
    As of now, you might realize that if everybody catches 20 fish, your group's aggregate (and average) earnings would be maximized.
    Therefore, at  the  beginning  of  this round,  a regulation is introduced where the maximum allowable catch is 20 fish.
    By catching over 20 fish, the fish will be caught too fast (the fish population in the lake will not be sustainable).
    <b>To enforce this regulation, there is a 10% chance that a player will be randomly
    audited and have to pay a fine of 10 points for each unit of catch over the 20 fish</b>.
</p>
    </div>
</div>

{% next_button %}

{% endblock %}