{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    OVERVIEW OF THE EXPERIMENT
{% endblock %}


{% block content %}
<!--<p>
Before we begin,  we want to thank you all for accepting this invitation and participating in this exercise.
The objective of this exercise is to understand how people make decisions related to the use of a shared natural resource.
    All the decisions you make, as well as all the other information you will provide us, will remain confidential.</p>-->

<div class="card bg-light m-3">
    <div class="card-body">
<p>Welcome.
    This exercise simulates a situation where a group of individuals must make decisions on how to use a shared
    resource --- e.g., a forest, a water source, or a fishery.
    You have been selected to participate in a group of five volunteers among those signed up for playing.
    At the end of the game, you will be able to earn cash.

   <b>Game Description:</b><br>
<p>This activity has 18 rounds. At the beginning of each round, your group shares a fishery of 200 fish.
    In each round, each group member must decide how many fish
    between 0 and 40 (inclusive) to catch. This means you can catch 0, or 1, or 2, .., or 40 fish. These decisions
    will be made at the same time and no communication is allowed.  At the end of the round, the number of fish doubles, up to the lake's
    capacity of 200 fish, and those fish are divided equally among the group members. For each fish caught you will receive 10 points </p>

      <b>Payment rule:</b> <br>
<p> Final payment will depend on the quantity of points that you <b>accumulate</b> over the rounds.</p>
     <p> 1 dollar is worth 40 points</p>


<p> <b>Example:</b><br>
    Imagine that in a given round you  decide  to  catch  10  fish  and  other  group members catch a total of 40 fish.
    This results in 150 fish left in the lake.
    At the end of the round, the amount of fish doubles, up to the lake’s capacity of 200 fish. The 200 fish will be evenly distributed to the group members.
    Thus each group member will get 40 more fish at the end of the round.
    Therefore,  your total amount of fish in this round would be 10 + 40 = 50.</p>
    </div>
</div>

<p>Still unclear? Please raise your hand and the experimenter will personally explain to you. </p>

{% formfield player.id_number %}

{% next_button %}

{% endblock %}