{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Quiz
{% endblock %}


{% block content %}
<p>
    Before you begin, please answer the following questions to ensure that you understand the instructions.
    Recall that your group consists of five people share a fishery of 200 fish. In each round, each group member must decide how many fish
    between 0 and 40 to catch. This means you can catch 0, or 1, or 2, .., or 40 fish.  Each fish caught equals 1 point.  At the end of the round, the number of fish doubles, up to the lake's
    capacity of 200 fish and is divided equally among the group members.

    You will not be able to proceed until have you have answered each question correctly.
   Check the correct answer and then click "Next".
</p>

{% formfield player.quiz1_all %}

{% formfield player.quiz2_all %}

{% next_button %}

{% endblock %}