{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round 2_Scenario {{participant.vars.conditional_round}}
{% endblock %}

{% block content %}

<div class="formlabel">

    If the average contribution from the other teams is <b>{{participant.vars.conditional_round}}</b>,
    how many tokens do you want your team to contribute to the public POOL? (Note the average contribution is rounded to the closest integer.)
    Before proposing the contribution, you can chat with your team members through the chatbox below.</div>
<br>
You are Player {{player.team_subid}} in {{ player.role }}
{% chat nickname=player.chat_nickname channel=player.role %}
<br>
Please enter the number of tokens you would like your team to contribute to the POOL.
{% formfield player.q %}

{% next_button %}

<div class="card bg-light m-3">
    <div class="card-body">
        <b>Reminder of the Rule </b> <br>
        <br>
<p> At the beginning of this decision-making experiment you will be matched with two other players,
            randomly selected from the people in this room, to form a team of three. You will remain in this
            team of three players for the duration of the entire decision-making experiment. The identity of
            the other players of your team will not be revealed. Your team will play a game with three other teams in the experiment.

            Each team will receive {{ Constants.endowment }}  tokens at the beginning of this experiment. The experiment has two
            independent rounds. In the first round, each team decides how much of the {{ Constants.endowment }}  tokens to keep, and
            how much to contribute to a public POOL that is shared by all the four teams: Your team can contribute
            any number between 0 and {{ Constants.endowment }}  and only whole numbers will be accepted. In the second round, your team will be asked
            to indicate conditional contribution levels for each of the 21 possible average contribution levels
            {0, 1, 2, …, 20} of the other three teams.
            </p>

        <b>Payoffs:</b> <br>

        <p><b>Your earning will equal your team’s earning; everyone in your team will have the same earning.</b>
            Your team's earning from the game is the amount your team did not contribute to the POOL plus the return from the POOL.
        Each team’s return from the POOL is calculated as follows: The total contribution from all four teams to the POOL is multiplied by a factor of 2,
        which is the total earning for the four teams. The total earning is then split equally among all 4 teams, regardless
        of their contribution to the POOL.
        </p>
        <p>
            In the end, the computer program will randomly select <b>three</b> teams. The total contribution
            to the POOL is the sum of these three teams' first round contribution plus the fourth team's second round
            contribution from the binding condition. The binding condition is determined by the other three teams’ actual
            average contribution in the first round.
        </p>
        <p>
         For the selected three teams, the first round’s outcome determines their final payoffs. Each team’s final
            payoff is the return from the POOL plus the amount this team didn't contribute in the first round. For the
            selected fourth team, the second round’s outcome determines the final payoff. This team’s final payoff is the earnings
            from the POOL plus the amount it didn't contribute in the second round.
        </p>
                <b>Decision rule within a team:</b> <br>
           <p>Within a team, each team member will propose a contribution level each round. A random draw will then determine
               which team member's proposed contribution level to be the team's contribution level.</p>
        <p> <b>Example:</b><br>

Assume in the first round your team decides to contribute 0 tokens and the other three teams contribute 8, 10, 12 respectively. And in the
    second round, your team decide to contribute 20
    tokens if the other teams contribute 10 on average. Imagine that the computer program randomly selects your team's second-round decision (i.e., your team is the
    fourth team) and other three teams' first round decisions to constitute the total contribution to the POOL. In the first round, the other three
    teams' average contribution is (8+10+12)/3=10, and in the second round your team decides to contribute 20 when the average is 10. The total contribution to
    the POOL is thus 20+10*3 = 50. The total contribution is then multiplied by a factor of 2, and the resulting amount is the total earning from the POOL,
    which is evenly split among all 4 teams. Thus your team gets 50*2/4=25 from the POOL. Your team's final payoff equals your team's earning from the POOL, 25, plus the amount
    your team did not contribute in the second round, 0, resulting in 25. Since each team member's payoff is the same as the team's payoff, your final payoff is also 25.
    The other three teams' final payoffs equal their earnings from the POOL, 25, plus what
    they did not contribute in the first round. Therefore, for the team who contributes 8 to the POOL in the first round, the final payoff is the earning
    from the POOL, 25, plus the amount it did not contribute, 12, which results in a final payoff of 37. For the team who contributes 10 to the POOL
    in the first round, the final payoff is the earning from the POOL, 25, plus the amount it did not contribute, 10, which results in a final payoff
    of 35. For the team who contributes 12 to the POOL
    in the first round, the final payoff is the earning from the POOL, 25, plus the amount it did not contribute, 8, which results in a final payoff of 33.
</p>
  </div>
</div>
{% endblock %}


