{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Regulation Imposed
{% endblock %}


{% block content %}
<p>
At  the  beginning  of  this  7th  round,  a regulation is introduced where the maximum allowable catch is 20 fish.
    The reason to have this regulation is that if each group member catches only 20fish,
    your group payoff would be maximized.  By catching over 20 fish, the fish will be caught too fast.
    To enforce this regulation, there is one in twenty chance that a player will be randomly
    audited and pay a fine of 10 for each unit extra extraction over the 20 fish.
</p>

{% next_button %}

{% endblock %}