{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    OVERVIEW OF THE EXPERIMENT
{% endblock %}

{% block scripts %}


<script type="text\javascript" src="{% static 'crowdinout_highfine\pre_next_btn.js' %}"></script>

{% endblock %}


{% block styles %}

<link href="{% static 'crowdinout_highfine\css\custom.css' %}" type="text/css" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">


  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Tab 1
</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Tab 2</a>
  </li>

</ul>

<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Tab 1
 </h3>
  </div>

<p>Welcome.
    This exercise attempts to create a situation where a group of individuals must make decisions on how to use a shared
    resource --- e.g., a forest, a water source, or a fishery.
    You have been selected to participate in a group of five people among those signed up for playing.
    At the end of the game, you will be able to earn cash.
    The cash prizes will depend on the quantity of points that you accumulate over the rounds.</p>

   <b>Game Description:</b><br>
<p>This activity is divided into 18 rounds. At the beginning of each round, your group consists of five people share a fishery of 200 fish.
    In each round, each group member must decide how many fish
    between 0 and 40 to catch. This means you can catch 0, or 1, or 2, .., or 40 fish.  These decisions
    will be made at the same time and no communication is allowed.  At the end of the round, the number of fish doubles, up to the lake's
    capacity of 200 fish and is divided equally among the group members. For each fish caught you will receive 10 points </p>

    <p>  <b>Payment rule:</b>   <br>
      1 dollar is worth 40 points
      </p>


<p> <b>Example:</b><br>
    Imagine  you  decide  to  catch  10  fish  in  a  round,  and  that  total  catch  of  other  group members are 40 fish.
    This results in 150 fish left in the ocean.
    At the end of the round, the amount of fish doubles, up to the lake’s capacity of 200 fish. So there are 200 fish at
    the end of the round.  The 200 fish will be evenly distributed to the group members,
    Thus,  each group member will get 40 more fish at the end of the round.
    Therefore,  your total amount of fish in this round would be 10 + 40 = 50.</p>

<p>Still unclear? Raise hand and the experimenter will come to you and personally explain to you. Otherwise please click "Tab2".</p>

<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

  </div>


<div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Tab 2 </h3>
  </div>

<p>
    Before you begin, please answer the following questions to ensure that you understand the instructions.
    You will not be able to proceed until have you have answered each question correctly.
   Check the correct answer and then click "Next". If you want to refer back to the "Instruction", click on "Tab1"
</p>

{% formfield player.quiz1_all %}

{% formfield player.quiz2_all %}

<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
  </div>


{% endblock %}