{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Consent form
{% endblock %}

{% block content %}

    <div>
        You can access the consent form by clicking this link: <br>
        <a href="http://charliexu.weebly.com/uploads/6/2/5/9/62596229/consent_form_clean_new.pdf" target="_blank">http://charliexu.weebly.com/uploads/6/2/5/9/62596229/consent_form_clean_new.pdf </a>
        <br>
        <br>
        <br>
        <br>
        <br>
        If you consent, click "I consent" and proceed to the next page <br>
        <br>
        <button name="consent" value='True' class="btn btn-primary btn-large">I consent</button>
        <br>
        <br>
        <br>
        <br>
    </div>

{% endblock %}