{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    OVERVIEW OF THE EXPERIMENT
{% endblock %}


{% block content %}
<!--<p>
Before we begin,  we want to thank you all for accepting this invitation and participating in this exercise.
The objective of this exercise is to understand how people make decisions related to the use of a shared natural resource.
    All the decisions you make, as well as all the other information you will provide us, will remain confidential.</p>-->

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

<p>
    Welcome to the experiment.  This is an experiment funded by research foundations to study decision making.
    For showing up on time, you will be paid a $5 show-up fee.  In addition, you may receive additional earnings
    as the result of the outcomes in this session.  All earnings that you make will be in “tokens”. At the end of
    the experiment we will pay you in cash an amount equal to $0.25 for every token you earn.
    Today’s session will take about an hour and a half. Please work on your own and avoid communicating with anyone else during the experiment.
</p>

        <b>Decisions:</b> <br>

        <p>At the beginning of this decision-making experiment you will be matched with three other players,
            randomly selected from the people in this room, to form a group of four. You will remain in this
            group of four players for the duration of the entire decision-making experiment. The identity of
            the other players of your group will not be revealed.
            Each player in your group will receive {{ Constants.endowment }}  tokens at the beginning of this experiment. The experiment has two
            independent rounds. In the first round, each player decides how much of the {{ Constants.endowment }}  tokens to keep, and
            how much to contribute to a public POOL that  is shared by all players in your group: You can contribute
            any number between 0 and {{ Constants.endowment }}  and only whole numbers will be accepted. In the second round, you will be asked
            to indicate your conditional contribution levels for each of the 21 possible average contribution levels
            {0, 1, 2, …, 20} of your groupmates.
            </p>

        <b>Payoffs:</b> <br>

        <p>Your earning from the game is the amount you did not contribute to the POOL plus the return from the POOL.
        Each player’s return from the POOL is calculated as follows: The total contribution from all players to the POOL is multiplied by a factor of 2,
        which is the total earning for the group. The total earning is then split equally among all 4 players, regardless
        of their contribution to the POOL.
        </p>
        <p>
            In the end, the computer program will randomly select <b>three</b> players in the group. The group’s total contribution
            to the POOL is the sum of these three players' first round contribution plus the fourth player's second round
            contribution from the binding condition. The binding condition is determined by the other three players’ actual
            average contribution in the first round.
        </p>
        <p>
         For the selected three players, the first round’s outcome determines their final payoffs. Each player’s final
            payoff is the return from the POOL plus the amount this player didn't contribute in the first round. For the
            selected fourth player, the second round’s outcome determines the final payoff. This player’s final payoff is the earnings
            from the POOL plus the amount s/he didn't contribute in the second round.
        </p>

<p> <b>Example:</b><br>

Assume in the first round you decide to contribute 0 tokens and other players in your group contribute 8, 10, 12 respectively. And in the second round, you decide to contribute 20
    tokens if the other players contribute 10 on average. Imagine that the computer program randomly selects your second-round decision (i.e., you are the
    fourth player) and other three members' first round decisions to constitute the total contribution to the POOL. In the first round, the other three
    player's average contribution is (8+10+12)/3=10, and in the second round you decide to contribute 20 when the average is 10. The total contribution to
    the POOL is thus 20+10*3 = 50. The total contribution is then multiplied by a factor of 2, and the resulting amount is the total earnings from the POOL,
    which is evenly split among all 4 players. Thus you get 50*2/4=25 from the POOL. Your final payoff equals your earnings from the POOL, 25, plus the amount
    you did not contribute in the second round, 0, resulting in 25. The other three players' final payoffs equal their earnings from the POOL, 25, plus what
    they did not contribute in the first round. Therefore, for the member who contributes 8 to the POOL in the first round, the final payoff is the earnings
    from the POOL, 25, plus the amount s/he did not contribute, 12, which results in a final payoff of 37. For the member who contributes 10 to the POOL
    in the first round, the final payoff is the earnings from the POOL, 25, plus the amount s/he did not contribute, 10, which results in a final payoff
    of 35. For the member who contributes 12 to the POOL
    in the first round, the final payoff is the earnings from the POOL, 25, plus the amount s/he did not contribute, 8, which results in a final payoff of 33.

    </div>
</div>

<p>Still unclear? Please raise your hand and the experimenter will personally explain to you. </p>

{% formfield player.id_number %}

{% next_button %}

{% endblock %}