{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        In this study, you will be in a randomly formed group
        of {{ Constants.players_per_group }} participants. Each participant in
        the group is given {{ Constants.endowment }}. The group
        has the opportunity to undertake a joint project. The game has two rounds.
        In the first round, each participant in
        the group decides how much she or he is going to contribute to
        the project. Contribution could be any integer from 0
        to {{ Constants.endowment }}.
    </p>
        <p>
            In the second round, each participant in the group will be asked to indicate their contribution levels for each of the 21 possible
            average contribution levels of their groupmates.
        </p>
    <p>
        The experimenter will randomly select three participants in a group and those players' payoff
        depends on the decisions they made in the first round. The fourth player's payoff will be determined by his
        second round decision when the average contribution levels of the other group members equals that of the first round.
        The earnings from the project are calculated as follows: The
        contributions of all {{ Constants.players_per_group }} participants are
        added up, the total contribution
        is multiplied by a factor of {{ Constants.multiplier }}, and the
        resulting amount is the total earnings from the project, which is
        evenly split among all {{ Constants.players_per_group }}
        participants. Your payoff in each round equals your earnings from the project, plus
        the amount you did not contribute.
    </p>

    </div>
</div>

