{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Random Audit
{% endblock %}


{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
<p>
    As of now, you might realize that if everybody catches {{quota}} fish, your group's aggregate (and average) earnings would be maximized.
    By catching over {{quota}} fish, the fish will be caught too fast (the fish population in the lake will not be sustainable). This may result in fewer fish
    for everyone.  <b>Until further notice, one player of each group will be randomly chosen to be audited each round.
    This player’s extraction will be shown to every member of the group.</b>

</p>
    </div>
</div>

{% next_button %}

{% endblock %}