{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Random Audit
{% endblock %}


{% block content %}
<p>
    As of now, you might realize that if everybody catches 20 fish, your group's aggregate (and average) earnings would be maximized.
    By catching over 20 fish, the fish will be caught too fast (the fish population in the lake will not be sustainable).
    Until further notice,  one player of each group will be randomly chosen to be audited each round.
    This player’s extraction will be shown to every member of the group.

</p>

{% next_button %}

{% endblock %}